@{
    ViewData["Title"] = "Forældre";
}

<section id="parent-banner">
    <div id="particles-js"></div>

    <div class="row">
        <div class="col-md-8">
            <div class="parent_hero">
                <h1>Esport undervisning blalkbbla</h1>
                <h2>Det er I danmark en kedelig misforståelse at computerspil og esport associeres med en usund- og asocial livsstil. Det er vi her for at lave om på! Vi er ved at bygge en video on demand platform med esports-kurser, der fokuserer på samspillet mellem spillene og de almene kompetencer, som man udvikler ved at spille. Ved at producere kurser af høj kvalitet, vil vi hjælpe befolkningen med at få øjnene op for de utallige muligheder, der ligger i esport.

                    Vidste du at computerspil er en oplagt mulighed for at træne sociale- og kognitive færdigheder som samarbejde, kommunikation og koncentration? Den danske ungdom elsker at bruge tid foran computeren, og vi er her for at berige dem med værktøjer og teknikker til at få mere ud af tiden, der bruges online.</h2>
            </div>
        </div>

        <div class="col-md-4 hidden-xs hidden-sm">
            <div class="parent_right">
            </div>
        </div>
    </div>

</section>

<section>
    <div class="row">
        <div class="col-md-12 nopadding">
            <div class="stripe">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="survey">         
                            <h3>Vi vil elske at høre din mening</h3>
                            <a class="button havelock">Gå til spørgeskema (forældre) <i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="theory">
    <div class="row">

               <div class="col-md-4">
                    <div class="theory-content">
                        <h3> <i class="fas fa-book fa-theory" aria-hidden="true"></i>Synlig Læring </h3>
                        <span class="name"> John Hattie</span>

                        <p>
                            Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
                        </p>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="theory-content">
                        <h3><i class="fas fa-assistive-listening-systems fa-theory"></i>Zonen for nærmeste udvikling</h3>
                        <span class="name">Lev Vygotskijs</span>

                        <p>
                            Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
                        </p>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="theory-content">
                        <h3><i class="fas fa-code-branch fa-theory"></i>Hjernen og langtidshukommelse</h3>
                        <span class="name">Simon Nørby</span>

                        <p>
                            Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
                        </p>

                    </div>
                </div>

            </div>
  </section>

