<section id="top-banner" >
    <div id="particles-js"></div>

    <div class="row">
        <div class="col-md-6">

            <div class="hero">
                <h1>Esport undervisning blalkbbla</h1>
                <h2>
                    Vi Er hahahahahahahahahaa hasdh alskdjalk jsladkj alskdj laksjdlak
                    i Er hahahahahahahahahaa hasdh alskdjalk jsladkj alskdj laksjdlak
                    i Er hahahahahahahahahaa hasdh alskdjalk jsladkj alskdj laksjdlak
                    i Er hahahahahahahahahaa hasdh alskdjalk jsladkj alskdj laksjdlak
                </h2>
                <a target="_blank" href="https://da.surveymonkey.com/r/5H6KYT8" class="button havelock havelock-nofill">Spørgeskema (forældre)</a>
                <a target="_blank" href="https://da.surveymonkey.com/r/5HZWRMM" class="button havelock">Spørgeskema (unge)</a>
            </div>

        </div>

        <div class="col-md-6 hidden-xs hidden-sm">
            <div class="hero_right">
                <h1 style="padding-bottom: 30px">Vi går live om</h1>
                <div class="countdown-clock"></div>
                    
                @*<form action="subscribe" method="post" class="form-inline">
                    <input type="email" placeholder="Your Email" class="subscribe_input_sm" />
                    <input type="submit" class="button havelock subscribe_btn" value="Get Updates" />
                </form>*@
            </div>
        </div>
        
        
    </div>
    
    <div class="row">
        <div class="col-md-12 hidden-xs hidden-sm" style="margin-top: 430px;">
            <a class="scroll-anchor bounce" href="#subscribe" id="js-scroll">
                <span class="fas fa-angle-down"></span>
            </a>
        </div>
    </div>
    
  

</section>

<section  id="subscribe">
    <div class="row">
        <div class="col-md-12 nopadding">
            <div class="stripe">

                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                        <h3>Få at vide, når vi lancerer! (Spamfri)</h3>
                        <form asp-controller="Home" asp-action="Subscribe" method="post" class="form-inline" asp-route-returnUrl="Index">
                            <input type="email" name="email" placeholder="Din Email" class="subscribe_input" required/>
                            <input type="submit" class="button havelock subscribe_btn" value="Skriv op"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

  
<section id="concept">
    <div class="row">
        <div class="col-md-6">
            <div class="hero">
                <h1>Esport undervisning blalkbbla</h1>
                <h2>Vi Er hahahahahahahahahaa hasdh alskdjalk jsladkj alskdj laksjdlak</h2>
                <a asp-controller="Home" asp-action="Panel" class="button havelock btn_concept">Få tidlig adgang</a>
            </div>
        </div>

        <div class="col-md-6 hidden-xs hidden-sm">
            <div class="concept_right">
            </div>
        </div>
    </div>
</section>

<section id="feedback">
    <img class="first-gradient" src="/images/bg-gradient.png" alt="Left gradient background">

    <img class="section-gradient" src="/images/bg-gradient.png" alt="Right gradient background">

    <div class="row">
        <div class="col-md-12">
            <div class="hero">
                <h3>Er der noget, du synes vi skal vide?</h3>
                <form asp-controller="Home" asp-action="Feedback" method="post" class="form-inline" asp-route-returnUrl="Index">
                    <textarea class="feedback_textarea" name="comment" required></textarea>
                    <input type="submit" class="button havelock feedback_btn" value="Send"/>
                </form>
            </div>
        </div>


    </div>
</section>

