<section id="top-banner">
    <div id="particles-js"></div>

    <div class="row">
        <div class="col-md-6">

            <div class="hero">
                <h1>Esport undervisning blalkbbla</h1>
                <h2>Vi Er hahahahahahahahahaa hasdh alskdjalk jsladkj alskdj laksjdlak</h2>
                <button class="button havelock havelock-nofill">Try out</button>
                <button class="button havelock">Try out</button>
            </div>

        </div>

        <div class="col-md-6 hidden-xs hidden-sm">
            <div class="hero_right">
                <h1 style="padding-bottom: 30px">Vi går live om</h1>
                <div class="countdown-clock"></div>
                    
                @*<form action="subscribe" method="post" class="form-inline">
                    <input type="email" placeholder="Your Email" class="subscribe_input_sm" />
                    <input type="submit" class="button havelock subscribe_btn" value="Get Updates" />
                </form>*@
            </div>
        </div>
        
        
    </div>
    
    <div class="row">
        <div class="col-md-12 arrow-container hidden-xs hidden-sm">
            <a class="scroll-anchor bounce" href="#subscribe" id="js-scroll">
                <span class="fas fa-angle-down"></span>
            </a>
        </div>
    </div>
    
  

</section>

<section  id="subscribe">
    <div class="row">
        <div class="col-md-12 nopadding">
            <div class="subscribe-wrapper">

                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                        <h3>Få at vide, når vi lancerer! (Spamfri)</h3>
                        <form action="subscribe" method="post" class="form-inline">
                            <input type="email" placeholder="Din Email" class="subscribe_input"/>
                            <input type="submit" class="button havelock subscribe_btn" value="Get Updates"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

  
<section id="concept">
    <div class="row">
        <div class="col-md-6">
            <div class="hero">
                <h1>Esport undervisning blalkbbla</h1>
                <h2>Vi Er hahahahahahahahahaa hasdh alskdjalk jsladkj alskdj laksjdlak</h2>
                <button class="button havelock" style="float:right">Læs mere</button>
            </div>
        </div>

        <div class="col-md-6 hidden-xs hidden-sm">
            <div class="concept_right">
            </div>
        </div>
    </div>
</section>

<section id="feedback">
    <img class="first-gradient" src="https://supernova.studio/images/gradients/bcg-gradient-left.png" alt="">

    <img class="section-gradient" src="https://supernova.studio/images/gradients/bcg-gradient-left.png" alt="">

    <div class="row">
        <div class="col-md-12">
            <div class="hero">
                <h3>Er der noget du synes vi skal vide?</h3>
                <form action="feedback" method="post" class="form-inline">
                    <textarea class="feedback_textarea"></textarea>
                    <input type="submit" class="button havelock feedback_btn" value="Send"/>
                </form>
            </div>
        </div>


    </div>
</section>

