<section id="top-banner" >
    <div id="particles-js"></div>

    <div class="row">
        <div class="col-md-6">

            <div class="hero">
                <h1>GamerPilot</h1>
                <h2>
                    Problemløsning, kommunikation, samarbejdsevner og meget mere. <br />
                    - En video-on-demand platform for undervisning i e-sport
                    
                    <br/>
                    <br/>
                    
                    For at skabe den bedste platform, er vi i gang med at indsamle data. <br/>
                    Ved at udfylde et af spørgeskemaerne (2min.), hjælper du os godt på vej! 
                </h2>
                <a target="_blank" href="https://da.surveymonkey.com/r/5H6KYT8" class="button havelock havelock-nofill">Spørgeskema (forældre)</a>
                <a target="_blank" href="https://da.surveymonkey.com/r/5HZWRMM" class="button havelock">Spørgeskema (unge)</a>
            </div>

        </div>

        <div class="col-md-6 hidden-xs hidden-sm">
            <div class="hero_right">
                <h1>Vi er ved at bygge vores platform</h1>
                <h2 style="padding-bottom: 30px">Vi går live om</h2>
                <div class="countdown-clock"></div>
                   
            </div>
        </div>
        
        
    </div>
    
    <div class="row">
        <div class="col-md-12 hidden-xs hidden-sm" style="margin-top: 340px;">
            <a class="scroll-anchor bounce" href="#subscribe" id="js-scroll">
                <span class="fas fa-angle-down"></span>
            </a>
        </div>
    </div>
    
  

</section>

<section  id="subscribe">
    <div class="row">
        <div class="col-md-12 nopadding">
            <div class="stripe">

                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                        <h3>Få at vide når vi lancerer! (Spamfri)</h3>
                        <form asp-controller="Home" asp-action="Subscribe" method="post" class="form-inline" asp-route-returnUrl="Index">
                            <input type="email" name="email" placeholder="Din Email" class="subscribe_input" required/>
                            <input type="submit" class="button havelock subscribe_btn" value="Skriv op"/>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

  
<section id="concept">
    <div class="row">
        <div class="col-md-6">
            <div class="hero">
                <h1>Esport undervisning på et nyt niveau</h1>
                <h2>Vores kurser hjælper dig til at blive en bedre spiller ved både at udvikle dine spilmæssige
                    kompetencer, og ting du kan bruge i virkeligheden <br/> <br/>

                    Videokurserne er produceret sammen med specialister og nogle af de absolut bedste spillere i Danmark, for
                    at sikre kvaliteten er den bedste.

                    <br/> <br/>

                    Vi hjælper dig med at sortere indholdet, så det er relevant for der, hvor du er i din læringsproces. Det er vigtigt
                    for os, at det er overskueligt og let for dig at lære om dit spil.

                </h2>
                <a asp-controller="Home" asp-action="Panel" class="button havelock btn_concept">Få tidlig adgang</a>
            </div>
        </div>

        <div class="col-md-6 hidden-xs hidden-sm">
            <div class="concept_right">
            </div>
        </div>
    </div>
</section>

<section id="feedback">
    <img class="first-gradient" src="/images/bg-gradient.png" alt="Left gradient background">

    <img class="section-gradient" src="/images/bg-gradient.png" alt="Right gradient background">

    <div class="row">
        <div class="col-md-12">
            <div class="hero">
                <h3>Er der noget, du synes vi skal vide?</h3>
                <form asp-controller="Home" asp-action="Feedback" method="post" class="form-inline" asp-route-returnUrl="Index">
                    <textarea class="feedback_textarea" name="comment" required></textarea>
                    <input type="submit" class="button havelock feedback_btn" value="Send"/>
                </form>
            </div>
        </div>


    </div>
</section>

