
@{
    ViewData["Title"] = "Panel";
}

<section id="panel-banner">
    <div class="row">
        <div class="col-md-8">
            <div class="panel_hero">
                <h1>Bliv en del af GamerPilots Feedbackpanel</h1>
                <h2>
                    Det er I danmark en kedelig misforståelse at computerspil og esport associeres med en usund- og asocial livsstil. Det er vi her for at lave om på! Vi er ved at bygge en video on demand platform med esports-kurser, der fokuserer på samspillet mellem spillene og de almene kompetencer, som man udvikler ved at spille. Ved at producere kurser af høj kvalitet, vil vi hjælpe befolkningen med at få øjnene op for de utallige muligheder, der ligger i esport.

                    Vidste du at computerspil er en oplagt mulighed for at træne sociale- og kognitive færdigheder som samarbejde, kommunikation og koncentration? Den danske ungdom elsker at bruge tid foran computeren, og vi er her for at berige dem med værktøjer og teknikker til at få mere ud af tiden, der bruges online.

                </h2>

                <form action="panel" method="post" class="form-inline">
                    <input type="email" placeholder="Your Email" class="subscribe_input_sm" />
                    <input type="submit" class="button havelock subscribe_btn" value="Get Updates" />
                </form>
            </div>
        </div>

        <div class="col-md-4">

            <div class="rewards">

                <ul class="media">
                    <li class="media-left media-middle">
                        <div class="circle text-center"><i class="fas fa-check fa-reward"></i></div>
                    </li>
                    <li class="media-right">
                        <a>Fri adgang</a>
                        <div>Få fri adgang til platformen</div>
                    </li>
                </ul>

                <ul class="media">
                    <li class="media-left media-middle">
                        <div class="circle text-center"><i class="far fa-images fa-reward"></i></div>
                    </li>
                    <li class="media-right">
                        <p>Hall of Fame</p>
                        <div>Bliv en del af GamerPilots Hall of Fame</div>
                    </li>
                </ul>

                <ul class="media">
                    <li class="media-left media-middle">
                        <div class="circle text-center"><i class="fas fa-hand-peace fa-reward"></i></div>
                    </li>
                    <li class="media-right">
                        <p>Indflydelse</p>
                        <div>Din feedback er med til at lave de bedste videoer</div>
                    </li>
                </ul>

            </div>
        </div>
    </div>


</section>

<section>
    <div class="row">
        <div class="col-md-12 nopadding">
            <div class="stripe">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="survey">
                            <h3>Vi vil elske at høre din mening</h3>
                            <a class="button havelock">Gå til spørgeskema (unge) <i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feedback">
    <img class="first-gradient" src="https://supernova.studio/images/gradients/bcg-gradient-left.png" alt="">

    <img class="section-gradient" src="https://supernova.studio/images/gradients/bcg-gradient-left.png" alt="">

    <div class="row">
        <div class="col-md-12">
            <div class="hero">
                <h3>Er der noget du synes vi skal vide?</h3>
                <form action="feedback" method="post" class="form-inline">
                    <textarea class="feedback_textarea"></textarea>
                    <input type="submit" class="button havelock feedback_btn" value="Send" />
                </form>
            </div>
        </div>


    </div>
</section>
