
@{
    ViewData["Title"] = "Panel";
}

<section id="panel-banner">
    <div class="row">
        <div class="col-md-8">
            <div class="panel_hero">
                <h1>Bliv en del af GamerPilots Feedbackpanel</h1>
                <h2>
                    Hos GamerPilot er vi overbeviste om, at vi kun kan lave de bedste videokurser, hvis vi gør det sammen med dem, der skal se dem.
                    <br /><br />
                    Vi har derfor sammensat et panel, der én gang om ugen bliver præsenteret for en video. Det eneste du skal gøre, er at fortælle
                    hvad du kan lide og ikke lide. Møderne er uformelle og afslappede, og bliver typisk holdt på Discord.

                    <br /><br />
                    Lyder det spændende? Skriv dig op nedenfor, så kontakter vi dig hurtigst muligt.

                </h2>

            </div>
            <form asp-controller="Home" asp-action="PanelRequest" method="post" class="form-inline panel-form" asp-route-returnUrl="Panel">
                <input type="email" name="email" placeholder="Din Email" class="subscribe_input_sm" required />
                <input type="submit" class="button havelock subscribe_btn" value="Send" />
            </form>
        </div>

        <div class="col-md-4">

            <div class="rewards">
                <h3>Paneldeltagere</h3>
                <ul class="media">
                    <li class="media-left media-middle">
                        <div class="circle text-center"><i class="fas fa-check fa-reward"></i></div>
                    </li>
                    <li class="media-right">
                        <a>Fri adgang</a>
                        <div>Få fri adgang til platformen</div>
                    </li>
                </ul>

                <ul class="media">
                    <li class="media-left media-middle">
                        <div class="circle text-center"><i class="far fa-images fa-reward"></i></div>
                    </li>
                    <li class="media-right">
                        <p>Hall of Fame</p>
                        <div>Bliv en del af GamerPilots Hall of Fame</div>
                    </li>
                </ul>

                <ul class="media">
                    <li class="media-left media-middle">
                        <div class="circle text-center"><i class="fas fa-hand-peace fa-reward"></i></div>
                    </li>
                    <li class="media-right">
                        <p>Indflydelse</p>
                        <div>Din feedback er med til at lave de bedste videoer</div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 hidden-xs hidden-sm" style="margin-top: 220px;">
            <a class="scroll-anchor bounce" href="#survey" id="js-scroll">
                <span class="fas fa-angle-down"></span>
            </a>
        </div>
    </div>


</section>

<section id="survey">
    <div class="row">
        <div class="col-md-12 nopadding">
            <div class="stripe">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="survey">
                            <h3>Vi vil elske at høre din mening</h3>
                            <a target="_blank" href="https://da.surveymonkey.com/r/5HZWRMM" class="button havelock">Gå til spørgeskema (unge) <i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feedback">
    <img class="first-gradient" src="/images/bg-gradient.png" alt="left triangle">

    <img class="section-gradient" src="/images/bg-gradient.png" alt="right triangle">

    <div class="row">
        <div class="col-md-12">
            <div class="hero">
                <h3>Er der noget,  du synes vi skal vide?</h3>
                <form asp-controller="Home" asp-action="Feedback" method="post" class="form-inline" asp-route-returnUrl="Panel">
                    <textarea class="feedback_textarea" name="comment" required></textarea>
                    <input type="submit" class="button havelock feedback_btn" value="Send" />
                </form>
            </div>
        </div>


    </div>
</section>
