@{
    ViewData["Title"] = "Forældre";
}

<section id="parent-banner">
    <div id="particles-js" style="max-height: 1000px; height: 1000px"></div>

    <div class="row">
        <div class="col-md-8">
            <div class="parent_hero">
                <h1>Vi udvikler dine børn mens, de spiller</h1>
                <h2>
                    Der hersker hos mange forældre en bekrymning omkring børnenes timer foran computeren. Det er der en klar grund til - det er svært at
                    gennemskue udbyttet, fordi det traditionelt set er blevet anset som en usund- og asocial aktivtet. E-sport er nøglen til at aktivere og anerkende en stor gruppe af unge mennesker
                    , som ofte bliver overset. Det er fremtidens fælleskab for unge, der samles om spillet, kampene, samværet og den sunde konkurrence. Forskning i unges
                    computerspil, påviser en klar sammenhæng mellem reflekteret brug af computerspil og en øget forståelse for problemløsning, samarbejdsevner, sproglige færdigheder og meget mere.
                    <br /><br />
                    Gennem pædagoisk korrekt og gennemslagskraftig e-sportsundervisning af kompentente- og certificerede e-sportsinstrukturer, kan vi sikre fokus på
                    psykisk-, fysisk- og social sundhed. Det gør vi. Vores videokurser er opbygget og konstrueret på en måde, der retter opmærksomheden mod de elementer af computerspillet,
                    som er med til at danne de unge og stimulere de komptencer, der også kan bruges udenfor computerspillet.
                    <br /><br />
                    Du kan indtage en belærende rolle overfor dit barns computerspil, som måske er Danmarks mest populære fritidsaktivitet blandt unge, ved at hjælpe dem med
                    at sortere i det store udbud af information, der findes på internettet. Fire ud af fem forældre er klar til at støtte deres børns e-sportsambitioner på linje med andre sportsgræne. <strong>Er du?</strong>
                </h2>
            </div>
        </div>

        <div class="col-md-4 hidden-xs hidden-sm">
            <div class="parent_right">
            </div>
        </div>

    </div>
</section>

<section id="js-p-survey">
    <div class="row">
        <div class="col-md-12 nopadding">
            <div class="stripe">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="survey">         
                            <h3>Vi vil elske at høre din mening</h3>
                            <a target="_blank" href="https://da.surveymonkey.com/r/5H6KYT8" class="button havelock">Gå til spørgeskema (forældre) <i class="far fa-arrow-alt-circle-right"></i></a>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="theory">
    <div class="row">

               <div class="col-md-4">
                    <div class="theory-content">
                        <h3> <i class="fas fa-book fa-theory" aria-hidden="true"></i>Synlig Læring </h3>
                        <span class="name"> John Hattie</span>

                        <p>
                            Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
                        </p>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="theory-content">
                        <h3><i class="fas fa-assistive-listening-systems fa-theory"></i>Zonen for nærmeste udvikling</h3>
                        <span class="name">Lev Vygotskijs</span>

                        <p>
                            Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
                        </p>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="theory-content">
                        <h3><i class="fas fa-code-branch fa-theory"></i>Hjernen og langtidshukommelse</h3>
                        <span class="name">Simon Nørby</span>

                        <p>
                            Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
                        </p>

                    </div>
                </div>

            </div>
  </section>

